[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
python-crontab = "*"
mysqlclient = "*"
nltk = "*"
slate3k = "*"

[requires]
python_version = "3.7"
